body {
  background-color: black;
  color: lightgrey;
  font-size: 3vh;
}

textarea {
  width: 100%;
  height: 75%;
  font-size: 4vh;
}

.center {
  text-align: center
}

.itembutton {
  font-size: 5vw;
  height: 85%;
  width: 85%;
}

#inputgrid {
  height: 20vh;
  display: grid;
  grid-gap: 5px;
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  grid-auto-flow: column;
}

#bigtextgrid {
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
}
